body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.circle {
    background-color: white;
   padding: 20px;
   border-radius: 10px;
   max- width: 600px;
   width: 150px;
   heigth: 150px;
   overflow: hidden;
   position: relative;
   float: right;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 2em;
    color: #333;
}

p {
    margin: 5px 0;
}

section {
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    color: #333;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}